.learn-select {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.fa-compass {
  color: var(--color-tertiary);
}

.learn-select .fa-compass {
  color: var(--color-secondary);
}

.practice i,
.learn i {
  display: inline-block;
  margin-right: 5px;
}

/* Styling the menu on the Learn page */

.menu,
.page-content {
  margin-left: 2rem;
}

.menu a {
  display: block;
}

.intro-menu,
.present-menu,
.past-menu,
.present-submenu,
.past-submenu {
  padding-inline: 20px;
  border-radius: 5px;
}

.intro-menu,
.present-menu,
.past-menu {
  /*background-color: var(--color-primary);
  color: var(--color-secondary);*/
  border: solid 2px var(--color-primary);
}

.present-submenu,
.past-submenu {
  border: solid var(--color-primary) 2px;
}

.intro-menu,
.present-menu,
.past-menu {
  font-size: 18px;
  margin-top: 20px;
  padding-block: 20px;
}

.present-submenu,
.past-submenu {
  display: flex;
  align-items: center;
  font-size: 16px;
  max-width: 250px;
  margin-top: 5px;
  padding-block: 15px;
}

.present-subcontainer,
.past-subcontainer {
  justify-content: space-between;
}

.fa-plane-departure {
  display: inline-block;
  margin-right: 10px;
  color: var(--color-tertiary);
}

.fa-circle-chevron-right {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  color: var(--color-tertiary);
}

.present-menu,
.past-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.present-menu i,
.past-menu i {
  display: inline-block;
}

.fa-square-plus,
.fa-circle-chevron-up {
  font-size: 20px;
}

.fa-calendar-check,
.fa-compass {
  margin-right: 10px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

p {
  font-size: 18px;
  margin-top: 1rem;
}

.fa-chevron-right {
  font-size: 0.8rem;

  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.content-nav {
  margin-bottom: 1.2rem;
  margin-left: 2rem;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 60%;
}

.table-title {
  background-color: var(--color-secondary);
  color: black;
}

th,
td {
  border: solid black 1px;
  padding: 5px;
}

th {
  background-color: var(--color-primary);
  color: #edf2f4;
}

.definition {
  font-size: 18px;
  border-left: solid var(--color-tertiary) 3px;

  border-radius: 8px;

  padding-left: 0.8rem;
  padding-right: 0.5rem;
  padding-block: 0.8rem;
  margin-block: 1rem;
}

.definition .fa-solid {
  display: inline-block;
  margin-bottom: 8px;
  padding-right: 5px;
  color: var(--color-tertiary);
}

.definition p {
  margin: 0;
}

.fa-book-open {
  display: block;
  margin-bottom: 10px;
  color: var(--color-tertiary);
}


.color3 {
  color: var(--color-tertiary);
}

.tense-name {
  font-weight: bold;
  color: var(--color-primary);
}

.examples {
  margin-top: 30px;
  margin-bottom: 10px;
}

.examples-list {
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
}

.examples-list ul {
  margin-bottom: 20px;
  padding-left: 10px;
  list-style-type: none;
  border-left: solid var(--color-primary) 2px;
  border-radius: 5px;
}

.examples-list li {
  padding-bottom: 5px;
}

.list-no-bullet li {
  padding-top: 5px;
  font-size: 18px;
  list-style-type: none;
}

.list-no-bullet .fa-arrow-right {
  font-size: 14px;
  color: var(--color-primary);
}

.fa-exclamation-triangle {
  color: var(--color-tertiary);
}

.bullet-list {
  margin-top: 12px;
  font-size: 18px;
}

.bullet-list li {
  padding-bottom: 8px;
  font-size: 18px;
}

.list-no-bullet {
  padding-top: 10px;
  padding-bottom: 15px;
}

.tip {
  padding-top: 20px;
  margin-bottom: 10px;
}

.tip .fa-lightbulb {
  font-size: 16px;
  display: inline-block;
  padding-right: 5px;
  color: var(--color-tertiary);
}
