* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  --color-primary: #2b2d42;
  --color-secondary: #edf2f4;
  --color-tertiary: #ef233c;

  background-color: var(--color-secondary);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: inherit;
}

.bold {
  font-weight: bold;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-block: 10px;
  color: var(--color-primary);
  display: flex;

  justify-content: space-between;
  align-items: center;
  max-width: 100%;

  font-family: "Poppins", sans-serif;

  border-bottom: 2px solid gray;
}

.logo {
  margin-left: 8%;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 8%;
}

.menu {
  font-weight: bold;
  /*display: flex;
  justify-content: end; */
  align-items: center;
}

nav button {
  display: inline-block;
}

nav a:hover {
  color: var(--color-tertiary);
}

nav .fa-circle-question,
.fa-square-poll-vertical {
  font-size: 25px;
  margin-right: 15px;
  color: var(--color-primary);
}

.fa-circle-exclamation {
  font-size: 0.9em;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  position: relative;
}

.mainSection {
  color: var(--color-secondary);
  background-color: var(--color-primary);

  min-width: 280px;
  width: fit-content;
  max-width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 20px;
}

/* Styling the welcome section */

.welcome {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

/* Styling the 'tense' section */
.tense-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

/*.tense-section select {
  text-align: center;
}*/

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  /*overflow: hidden;*/

  margin-inline: auto;

  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.selectDiv {
  min-width: 0;
}

.selectDiv,
.selectNbPhrasesDiv {
  position: relative;
}

.selectDiv::after,
.selectNbPhrasesDiv::after {
  content: "";
  position: absolute;
  right: 10px;
  width: 0;
  height: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid #000;

  pointer-events: none;
}

.selectDiv::after {
  margin-top: 15px;
}

.selectNbPhrasesDiv::after {
  margin-top: 12px;
}

#tense {
  color: black;
  background-color: var(--color-secondary);
  text-align: center;

  border-radius: 6px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  padding-inline: 30px;
  padding-block: 5px;
  margin-left: auto;
  margin-right: auto;
}

/*
.selectDiv option {
  font-size: 0.8em;
  text-align: center;
}*/

/* Styling the 'number of phrases' section */
.nb-phrases {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  gap: 10px;
}

#phraseNb {
  color: black;
  background-color: var(--color-secondary);
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  width: fit-content;

  padding-left: 18px;
  padding-right: 28px;
  padding-block: 6px;
}

/* Styling the start section */

.start-section {
  display: flex;
  margin-top: 50px;
}

#start-btn {
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-size: 0.9em;
}

#start-btn:hover {
  background-color: #d90429;
}

/* Styling the sections displaying a tense and a verb to conjugate */
.tense-display-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.tense-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  color: black;
  text-align: center;
  background-color: var(--color-secondary);
  border-radius: 6px;
  min-height: 30px;
  font-size: 0.8em;
}

.verb-display-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.verb-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: var(--color-tertiary);
  text-align: center;
  font-weight: 500;
  background-color: var(--color-secondary);
  /*min-width: 20%;*/

  border-radius: 6px;
  height: 30px;
}

/* Styling the section displaying a phrase */
.phrase-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--color-secondary);
  border-radius: 6px;
  min-height: 60px;
  width: fit-content;
}

/* Styling the sections with special letters */
.letters-section {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.letters-section button {
  font-size: 1em;
  width: 20px;
  font-family: "Poppins", sans-serif;
  color: black;
  border-radius: 5px;
  text-align: center;
  padding: 0;
}

/* Styling the section where a user can type their answer */
.type-section {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--color-secondary);
  color: black;
  border-radius: 6px;
  width: fit-content;
  height: 40px;
}

.type-section input {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  text-align: center;
  padding: 10px;
  background-color: var(--color-secondary);
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.type-section input::placeholder {
  font-size: 16px;
}

input[disabled] {
  background-color: white;
  opacity: 0.8;
  /*color: #383642;*/
}
button[disabled] {
  background-color: white;
  opacity: 0.8;
}

.translation {
  font-weight: 400;
  color: black;
  font-size: 14px;
}

/* The message section */
.msg-section {
  color: var(--color-secondary);
  font-size: 18px;
  text-align: center;
  font-style: italic;
  margin-inline: 30px;
  max-width: 280px;
  margin-inline: auto;
}

.reminder {
  font-size: 0.8em;
  margin-top: 10px;
}

/*The popup conjugation section*/

.conjugSection {
  margin: auto;
  padding-block: 10px;
  padding-inline: 15px;
  color: var(--color-primary);
  background-color: #edf2f4;
  border: solid 1px var(--color-primary);
  border-radius: 5px;
  min-width: 150px;
  position: fixed;
  z-index: 2;
  right: 15%;
  top: 18%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.conjugSection i {
  display: block;
  margin-bottom: 8px;
  z-index: 3;
}

.popup-icons {
  display: flex;
  justify-content: space-between;
}

@keyframes colorChange {
  from {
    color: var(--color-primary);
  }
  to {
    color: var(--color-tertiary);
  }
}

.bulb-animation {
  animation: colorChange 0.8s 2;
}

/* Styling the submit section */
.submit-section {
  display: flex;
  margin-top: 20px;
}

#submit-btn {
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-size: 0.9em;
}

#submit-btn:hover {
  background-color: #d90429;
}

/* Styling the 'next' section */
.next-section {
  display: none;
  margin-top: 20px;
}

#next-btn {
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-size: 0.9em;
}

#next-btn:hover {
  background-color: #d90429;
}

/* Styling the finish section */

.finish-section {
  display: none;
  margin-top: 20px;
}

#finish-btn {
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-size: 0.9em;
}

#finish-btn:hover {
  background-color: #d90429;
}

/* Styling the result section */
.result {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

.noMorePhrDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

.noMorePhrExpl {
  font-size: 16px;
  margin-top: 20px;
  max-width: 280px;
}

/* Styling the score section */
.score-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-size: 20px;
}

/* Styling the trophy icon */
.fa-trophy {
  color: var(--color-secondary);
  display: block;
}

.fa-volume-low {
  color: var(--color-primary);
  font-size: 1.2em;
}

.correctCheck {
  display: none;
}

.correctAnswer {
  display: none;
}

.summary {
  min-width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;

  padding-top: 10px;
  padding-bottom: 10px;

  margin-inline: auto;

  padding-left: 30px;
  padding-right: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  border: solid var(--color-primary) 4px;
  border-radius: 10px;
}

.summary h1 {
  text-align: center;
}

.summary li {
  margin-top: 20px;
}

/* Styling the restart section */
.restart {
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 10px;

  margin-top: 20px;
}

#restart-btn {
  /*margin: auto;*/
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-size: 0.9em;
}

#restart-btn:hover {
  background-color: #d90429;
}

#showSummary-btn {
  /*margin: auto;*/
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  color: black;
  background-color: var(--color-secondary);
  /*color: var(--color-secondary);*/
  font-size: 0.9em;
}

#showSummary-btn:hover {
  background-color: #faeeeb;
}

/* Styling the chart */
.chart {
  /*max-width: 500px;*/
  min-width: 280px;
  margin-inline: auto;
  margin-top: 20px;
}

.chart h2 {
  margin-bottom: 10px;
  text-align: center;
}

/* The rules section */

.blurContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.rulesSection {
  display: none;

  padding-block: 20px;
  padding-inline: 30px;

  position: fixed;
  min-width: 320px;
  max-width: 500px;

  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: justify;

  background-color: var(--color-secondary);
  box-shadow: 0 0 10px var(--color-primary);

  border-radius: 6px;
  z-index: 1000;

  max-height: 90%;
  overflow-y: auto;
}

.rulesSection h1 {
  font-size: 24px;
}

.rulesSection h2 {
  font-size: 18px;
}

.rulesStartDiv,
.rulesGoalDiv,
.rulesPronuncDiv {
  margin-top: 20px;
}

.rulesSection p {
  margin-top: 10px;
}

.rulesSection .popup-close {
  margin-left: 95%;
  font-size: 18px;
}

.rulesStartDiv,
.rulesGoalDiv,
.rulesPronuncDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

/* Responsive design */
@media screen and (max-width: 1200px) {
  .mainSection {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-height: 1000px) {
  .rulesSection {
    top: 38vh;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .mainSection {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .type-section input::placeholder {
    font-size: 16px;
  }

  .nb-phrases label {
    font-size: 0.9em;
  }

  #phraseNb {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 480px) {
  header {
    border: none;
  }

  .tense-display-section,
  .verb-display-section {
    flex-direction: column;
  }

  .mainSection {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .rulesSection {
    padding-inline: 25px;
    min-width: 300px;
    width: 90%;
  }

  /*
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 22px;
  }
  */

  .nb-phrases {
    flex-direction: column;
    align-items: center;
  }

  .nb-phrases select {
    /*width: 20%;*/
    text-align: center;
  }

  .type-section input::placeholder {
    font-size: 12px;
  }

  .conjugSection {
    right: 8%;
  }
}
