/*
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --color-primary: #2b2d42;
  --color-secondary: #edf2f4;
  --color-tertiary: #ef233c;

  background-color: var(--color-secondary);
}

nav {
  display: flex;
  gap: 30px;
  justify-content: end;
  align-items: center;
  margin-right: 80px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

nav button {
  display: block;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: var(--color-tertiary);
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
} */

.secretSection {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-inline: auto;
  align-items: center;
}

form h1 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 30px;
  color: var(--color-secondary);
}

/* Styling the signup form */

form {
  align-items: center;
  border: solid black 2px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 10px;
  width: 30%;
  margin-inline: auto;
  padding: 40px;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: solid black 1px;
}

#logInButton,
#signUpButton {
  margin-top: 10px;
  padding-inline: 12px;
  padding-block: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  border: none;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

#logInButton:hover,
#signUpButton:hover {
  background-color: #d0142a;
}

.btn-section {
  text-align: center;
}

/* Form switch */
.switch-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-section p {
  font-size: 0.9em;
}
#signUpSwitch {
  text-decoration: underline;
  font-size: 0.8em;
}

#logInSwitch {
  text-decoration: underline;
  font-size: 0.8em;
  display: block;
}

#signUpSwitch:hover {
  opacity: 80%;
  cursor: pointer;
}

#logInSwitch:hover {
  text-decoration: underline;
  opacity: 80%;
  cursor: pointer;
}

.logOutSection {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

#logOutButton {
  padding-inline: 12px;
  padding-block: 8px;

  font-size: 0.8em;
  border-radius: 6px;
}

#logOutButton:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
}
