* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --color-primary: #2b2d42;
  --color-secondary: #edf2f4;
  --color-tertiary: #ef233c;

  background-color: var(--color-secondary);
}

header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
}

main {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 20px;
}

/* Styling the welcome section */

.welcome {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 24px;
}

/* Styling the 'tense' section */
.tense-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

#tense {
  color: black;
  background-color: var(--color-secondary);
  text-align: center;
  width: 80%;
  border-radius: 6px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}

/* Styling the start section */

.start-section {
  display: flex;
  margin-top: 40px;
}

#start-btn {
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-size: 0.9em;
}

#start-btn:hover {
  background-color: #d90429;
}

/* Styling the section displaying a verb */
.verb-display-section {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.verb-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: var(--color-tertiary);
  text-align: center;
  background-color: var(--color-secondary);
  width: 25%;
  border-radius: 6px;
  height: 30px;
}

/* Styling the section displaying a phrase */
.phrase-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--color-secondary);
  border-radius: 6px;
  min-height: 60px;
}

/* Styling the sections with special letters */
.letters-section {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.letters-section button {
  font-size: 1em;
  width: 20px;
  font-family: "Poppins", sans-serif;
}

/* Styling the section where a user can type their answer */
.type-section {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--color-secondary);
  color: black;
  border-radius: 6px;
  width: 40%;
  height: 40px;
}

.type-section input {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  text-align: center;
  padding: 5px;
  background-color: var(--color-secondary);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 5px;
}

/* The message section */
.msg-section {
  color: var(--color-secondary);
  font-size: 0.8 em;
  text-align: center;
  font-style: italic;
}

/* Styling the submit section */
.submit-section {
  display: flex;
  margin-top: 20px;
}

#submit-btn {
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-size: 0.9em;
}

#submit-btn:hover {
  background-color: #d90429;
}

/* Styling the 'next' section */
.next-section {
  display: none;
  margin-top: 20px;
}

#next-btn {
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-size: 0.9em;
}

#next-btn:hover {
  background-color: #d90429;
}
