form h1 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 30px;
  color: var(--color-secondary);
}

/* Styling the signup form */

form {
  align-items: center;
  border: solid black 2px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 10px;
  min-width: 300px;
  margin-inline: auto;
  padding-inline: 40px;
  padding-block: 20px;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: solid black 1px;
}

button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#logInButton,
#signUpButton {
  margin-top: 10px;
  padding-inline: 12px;
  padding-block: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  border: none;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

#logInButton:hover,
#signUpButton:hover {
  background-color: #d0142a;
}

.btn-section {
  text-align: center;
}

/* Form switch */
.switch-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-section p {
  font-size: 0.9em;
}
#signUpSwitch {
  text-decoration: underline;
  font-size: 0.8em;
}

#logInSwitch {
  text-decoration: underline;
  font-size: 0.8em;
  display: block;
}

#signUpSwitch:hover {
  opacity: 80%;
  cursor: pointer;
}

#logInSwitch:hover {
  text-decoration: underline;
  opacity: 80%;
  cursor: pointer;
}

.logOutSection {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

#logOutButton,
#logInButtonMenu {
  padding-inline: 12px;
  padding-block: 8px;

  border-radius: 6px;
  background-color: var(--color-secondary);
}

#logOutButton {
  display: none;
}

#logOutButton:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* Responsive design */
@media screen and (min-width: 480px) and (max-width: 768px) {
  form {
    padding-inline: 25px;
    padding-block: 10px;
  }
}
