* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --color-primary: #2b2d42;
  --color-secondary: #edf2f4;
  --color-tertiary: #ef233c;

  background-color: var(--color-secondary);
}

header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

h2 {
  margin-top: 30px;
}

main {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 20px;
}

/* Styling the 'tense' section */
.tense-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tense {
  color: black;
  background-color: var(--color-secondary);
  width: 60%;
  border-radius: 6px;
  height: 30px;
  font-family: "Poppins", sans-serif;
}

/* Styling the section displaying a verb */
.verb-display-section {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.verb-display {
  background-color: var(--color-secondary);
  width: 25%;
  border-radius: 6px;
  height: 30px;
}

/* Styling the section displaying a phrase */
.phrase-section {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: var(--color-secondary);
  border-radius: 6px;
  height: 60px;
}

/* Styling the section where a user can type their answer */
.type-section {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-secondary);
  border-radius: 6px;
  width: 40%;
  height: 40px;
}

/* Styling the submit section */
.submit-section {
  display: flex;
  margin-top: 40px;
}

#submit-btn {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-size: 0.8em;
}

#submit-btn:hover {
  background-color: #d90429;
}
