.menu-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-element.account,
.menu-element.help {
  position: relative;
}


.account-popup,
.help-popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  
  padding-inline: 10px;
  padding-block: 8px;
  

  border-radius: 8px;
  border: solid var(--color-primary) 1px;

  color: var(--color-primary);
  background-color: var(--color-secondary);

  z-index: 1;

  text-align: center;
}

.account-popup {
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100px;
  height: 80px;
}


.help-popup {
  top: 122%;
  right: 4%;
  transform: translate(10%, 0%);
  width: 120px;
  height: 80px;
}

#contact-button {
  border-bottom: solid 1px gray;
}

.contactErrorMsg {
  margin-top: 20px;
}

.rules-button {
  padding-top: 5px;
  border-bottom: solid 1px gray;
}

.account-popup p,
.help-popup p  {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}

nav p {
  font-size: 14px;
}

.account-popup .arrow,
.help-popup .arrow  {
  position: absolute;
  
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--color-primary);

}

.account-popup .arrow {
  top: -16%;
  left: 42%;
}

.help-popup .arrow {
  top: -16%;
  right: 12%;
}

.menu-element.help {
  padding-left: 10px;
}

form h1 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 30px;
  color: var(--color-secondary);
}

/* Styling the signup form */

form {
  align-items: center;
  border: solid black 2px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 10px;
  width: 360px;
  margin-inline: auto;
  padding-inline: 40px;
  padding-block: 20px;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: solid black 1px;
}

.logInErrorMsg {
  font-size: 0.9em;
}

button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#contact-text {
  display: block;
  width: 100%;
  min-height: 60px;

  margin-top: 10px;
  padding-block: 6px;
  padding-inline: 10px;

  border-radius: 6px;
}

#logInButton,
#signUpButton,
#passResetButton,
#contactBtn {
  margin-top: 20px;
  padding-inline: 12px;
  padding-block: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  border: none;
  border-radius: 6px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

#logInButton:hover,
#signUpButton:hover,
#passResetButton:hover,
#contactBtn:hover {
  background-color: #d0142a;
}

.btn-section {
  text-align: center;
}

/* Form switch */
.switch-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-section p {
  font-size: 0.9em;
}
#signUpSwitch {
  text-decoration: underline;
  font-size: 1.2em;
}

#forgotPass {
  margin-top: 10px;
  margin-bottom: 10px;

  text-decoration: underline;
  font-size: 0.9em;
  display: block;

  text-align: center;
}

#logInSwitch {
  text-decoration: underline;
  font-size: 0.8em;
  display: block;
}

#signUpSwitch:hover {
  opacity: 80%;
  cursor: pointer;
}

#logInSwitch:hover {
  text-decoration: underline;
  opacity: 80%;
  cursor: pointer;
}

.logOutSection {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

#logOutButton,
#logInButtonMenu,
#signUpButtonMenu {
  padding-inline: 6px;
  padding-block: 4px;

  /*border-radius: 6px;*/
  background-color: var(--color-secondary);
  color: black;

  border-bottom: solid 1px gray;
  border-color: #b5afae;
}


#logOutButton {
  display: none;
}

#logOutButton:hover,
#logInButtonMenu:hover,
#signUpButtonMenu:hover {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  border: none;
}

/* Responsive design */
@media screen and (min-width: 480px) and (max-width: 768px) {
  form {
    padding-inline: 25px;
    padding-block: 10px;
  }
}
